- @articles.each do |article|
  %dl
    %dt= "title:"
    %dd= article.title

    %dt= "body:"
    %dd= article.body

    %dt= "created:"
    %dd= date_in_tokyo article.created_at

    %dt= "updated:"
    %dd= date_in_tokyo article.updated_at

.pagination= paginate @articles
