!!!
%html
  %head
    %title laughinworks
  = stylesheet_link_tag 'base'
  = javascript_include_tag :defaults
  = csrf_meta_tag

  %body

    #header
      %h1= link_to "laughinworks", root_path
      = image_tag 'top01.png'
      %nav
        %ul
          %li= link_to 'contact', contact_path
          %li= link_to 'weblog', articles_path
          %li= link_to 'works', work_path
          %li= link_to 'about', about_path


    #main
      #contents
        #left_col
          = yield
        #right_col

        - if @articles
          .pagination= paginate @articles

    #footer
      #left_col
        = raw "&copy; laughinworks.jp"
      #center_col
        %ul
          %li= link_to 'about', about_path
          %li= link_to 'works', work_path
          %li= link_to 'weblog', articles_path
          %li= link_to 'contact', contact_path
      #right_col
        %dl
          %dt member
          %dd tatsuro baba
